* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: rgb(53, 51, 51);
}

.grid {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.nav {
  padding: 10px;
  display: flex;
  align-content: center;
  background-color: blueviolet;
}

.nav h3 {
  color: #dfe4e7;
}

.nav h3,
.nav select,
.nav button {
  margin: 0px 10px;
}

#root_container {
  margin-top: 50px;
  max-height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.node {
  height: 25px !important;
  width: 25px;
  border-top: 0.25px solid rgb(100, 100, 100);
  border-left: 0.25px solid rgb(100, 100, 100);
}

.row {
  height: 25px !important;
  width: fit-content;
  display: flex;
}

.row:last-child {
  border-bottom: 0.25px solid rgb(100, 100, 100);
}

.row .node:last-child {
  border-right: 0.25px solid rgb(100, 100, 100);
}

.end {
  /* background-color: lightgreen; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  background-color: rgb(143, 19, 19);
}

.visited {
  background-color: hsl(144, 73%, 46%);
  animation-name: visitedAnimation;
  animation-duration: 0.7s;
  transition: all 0.2s ease-in-out;
}

.wall {
  background-color: whitesmoke;
}

/* rgb(255, 254, 106) */

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: yellow;
    border-radius: 100%;
  }
  25% {
    transform: scale(0.6);
    background-color: yellow;
    border-radius: 50%;
  }
  50% {
    background-color: #80d3cf;
  }
  75% {
    transform: scale(1.2);
    background-color: #509de6;
  }
  100% {
    transform: scale(1);
    background-color: #0779e4;
  }
}

.path {
  background-color: rgb(255, 254, 106);
  animation-name: pathAnimation;
  animation-duration: 0.7s;
  transition: all 0.2s ease-in-out;
}

@keyframes pathAnimation {
  0% {
    transform: scale(0.3);
    background-color: #7db538;
    border-radius: 100%;
  }
  50% {
    background-color: #83c92c;
  }
  75% {
    transform: scale(1.2);
    background-color: #a8ff3e;
  }
  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
